.node {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #73aadba0
   
}


.chevron.right{
    text-align: center;
    font-size: larger;
 
}

.circle.outline {
    text-align: justify;
    font-size: larger;
    
    
}
i.icon {
    display: table;
    color: rgb(67, 4, 255);
}


